{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>

      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>


  <form action="/App/Hello" method="GET">
    {{with $field := field "myName" .}}
      <div class="form-group">
      <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control">

      </div>
     {{end}}
    <input type="submit" value="Say hello!" class="btn btn-default">
  </form>
</div>


{{template "footer.html" .}}
